.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;
    margin: 10px;
}
.dialog a{
    color: #ffffff;
    text-decoration: none;
   
}
.dialog a.active{
    color: #000000;
}
.messages{
padding: 10px;
margin: 10px;
}
.message{
color: #ffffff;
}